<div class="container-fluid page">
    <h1>Project Modification</h1>
    <div class="card">
        <div class="card-body">

            <p-splitter [style]="{'height': '300px'}" [panelSizes]="[20,80]" [minSizes]="[10,0]" styleClass="mb-5">
                <ng-template pTemplate>
                    <p-splitter layout="vertical" [panelSizes]="[15,85]">
                        <ng-template pTemplate>
                            <div class="col flex align-items-center justify-content-center">
                                <h3>{{project.name}}</h3>
                            </div>
                        </ng-template>
                        <ng-template pTemplate>
                            <p-splitter [panelSizes]="[50,80]">
                                <ng-template pTemplate>


                                    <div class="card small" style="width:300px;border: none;">
                                        <p-table styleClass="p-datatable-sm" responsiveLayout="scroll"
                                            aria-readonly="true" class="text-center">
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <td>
                                                        <h6> Client</h6>
                                                    </td>
                                                    <td>{{project.client}}</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <h6> Duration</h6>
                                                    </td>
                                                    <td>{{project.duration}} j</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <h6> Description</h6>
                                                    </td>
                                                    <td>{{project.description}}</td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>



                                </ng-template>
                                <ng-template pTemplate>

                                </ng-template>
                                <ng-template pTemplate>
                                    <div class="col flex align-items-center justify-content-center">
                                        <div class="row">
                                            <div class="text-center">
                                                <p>Modify the project : </p>
                                            </div>
                                            <div class="text-center">
                                                <button pButton type="button" label="Modify"
                                                    class="p-button-secondary"></button>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </p-splitter>
                        </ng-template>
                    </p-splitter>
                </ng-template>
            </p-splitter>         

            <div id="multiselect-sample" class="control-section">
                <div id="temp" class="control-styles">
                    <h4>Template</h4>
                    <ejs-multiselect id='multi-template' [dataSource]='emplyeeList' [fields]='multifields' [mode]='box'
                        [placeholder]='multiwatermark' [(value)]="ids">
                        <ng-template #headerTemplate>
                            <div class="multihead"> <span class="multiphoto">Photo</span> <span
                                    style="margin-left:17px;">Employee Info</span></div>
                        </ng-template>
                        <ng-template #itemTemplate let-data>
                            <div>
                                <!-- <img class="multiempImage" src="./assets/auto-complete/Employees/{{data.Eimg}}.png"
                                    alt="employee" /> -->
                                <div class="multiename"> {{data.firstName}} </div>
                                <div class="multijob"> {{data.lastName}} </div>
                            </div>
                        </ng-template>
                        <ng-template #valueTemplate="" let-data >
                            <div>
                                <!-- <img class="valueTemp" src="./assets/auto-complete/Employees/{{data.Eimg}}.png"
                                    alt="employee" /> -->
                                <div class="nameTemp"> {{data.lastName}} </div>
                            </div>
                        </ng-template>
                    </ejs-multiselect>
                </div>
            </div>

            <button (click)="view()">A</button>



            <!-- <div class="control-section">
                <ejs-grid [dataSource]='taskList' allowPaging='true' [pageSettings]='pageSettings' [editSettings]='editSettings' [toolbar]='toolbar' (actionBegin)='actionBegin($event)' (actionComplete)='actionComplete($event)'>
                    <e-columns>
                        <e-column field='id_Task' headerText='Task ID' width='120' textAlign='Right' [isPrimaryKey]='true'></e-column>
                        <e-column field='nom' headerText='Task Name' width='120'></e-column>
                        <e-column field='description' headerText='Task Description' width='120' format='C2' textAlign='Right'></e-column>
                        <e-column field='duration' headerText='Task Duration' width='130' format='yMd' textAlign='Right'></e-column>
                        <e-column field='status' headerText='Task Status' width='150'></e-column>
                    </e-columns>
                    <ng-template #editSettingsTemplate let-data>
                        <div [formGroup]="taskForm">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <div class="e-float-input e-control-wrapper" >
                                        <input formControlName="OrderID" data-msg-containerid='OrderIDError' id="OrderID" name="OrderID" type="text" [attr.disabled]="!data.isAdd ? '' : null">
                                        <span class="e-float-line"></span>
                                        <label class="e-float-text e-label-top" for="OrderID"> Order ID</label>
                                    </div>
                                  
                                </div>
                                <div class="form-group col-md-6">
                                    <div class="e-float-input e-control-wrapper" [ngClass]="{'e-error': TaskName.invalid && (TaskName.dirty || TaskName.touched)}">
                                        <input formControlName="TaskName" data-msg-containerid='TaskNameError' id="TaskName" name="TaskName" type="text">
                                        <span class="e-float-line"></span>
                                        <label class="e-float-text e-label-top" for="TaskName">Task Name</label>
                                    </div>
                                    <div id="CustomerNameError" [style.visibility]='((TaskName.invalid && (TaskName.dirty || TaskName.touched)) || (TaskName.invalid && submitClicked))? "visible": "hidden"'>
                                        <label class="e-error" for="CustomerName" id="CustomerName-info" style="display: block;">*Customer Name is required</label>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="form-row">
                                <div class="form-group col-md-6">
                                    <ejs-numerictextbox formControlName="Freight" id="Freight" placeholder="Freight" floatLabelType='Always'></ejs-numerictextbox>
                                </div>
                                <div class="form-group col-md-6">
                                    <ejs-datepicker id="OrderDate" formControlName="OrderDate" placeholder="Order Date" floatLabelType='Always'></ejs-datepicker>
                                    <div id="OrderDateError" [style.visibility]='((TaskDuration.invalid && (TaskDuration.dirty || TaskDuration.touched)) || (TaskDuration.invalid && submitClicked)) ? "visible": "hidden"'>
                                        <label class="e-error" for="OrderDate" id="OrderDate-info" style="display: block;">*Order Date is required</label>
                                    </div>
                                </div>
                            </div>  -->
                            <!-- <div class="form-row">
                                <div class="form-group col-md-6">
                                    <ejs-dropdownlist id="ShipCountry" formControlName="ShipCountry" [dataSource]='shipCountryDistinctData' [fields]="{text: 'ShipCountry', value: 'ShipCountry' }" placeholder="Ship Country" popupHeight='300px' floatLabelType='Always'></ejs-dropdownlist>
                                </div>
                                <div class="form-group col-md-6">
                                    <ejs-dropdownlist id="ShipCity" formControlName="ShipCity" [dataSource]='shipCityDistinctData' [fields]="{text: 'ShipCity', value: 'ShipCity' }" placeholder="Ship City" popupHeight='300px' floatLabelType='Always'></ejs-dropdownlist>
                                </div>
                            </div> -->
                            <!-- <div class="form-row">
                                <div class="form-group col-md-12">
                                    <div class="e-float-input e-control-wrapper">
                                        <textarea formControlName="ShipAddress" id="ShipAddress" name="ShipAddress" type="text"></textarea>
                                        <span class="e-float-line"></span>
                                        <label class="e-float-text e-label-top" for="ShipAddress">Ship Address</label>
                                    </div>
                                </div>
                            </div> -->
                        <!-- </div> 
                    </ng-template>
                </ejs-grid>
            </div> --> 




            <div class="control-section">
                <ejs-grid [dataSource]='taskList' allowPaging='true' [pageSettings]='pageSettings' [editSettings]='editSettings' [toolbar]='toolbar'>
                    <e-columns>
                        <e-column field='id_Task' headerText='Task ID' width='120' textAlign='Right' [isPrimaryKey]='true'></e-column>
                        <e-column field='nom' headerText='Task Name' width='120'></e-column>
                        <e-column field='description' headerText='Task Description' width='120' format='C2' textAlign='Right'></e-column>
                        <e-column field='duration' headerText='Task Duration' width='130' format='yMd' textAlign='Right'></e-column>
                        <e-column field='status' headerText='Task Status' width='150'></e-column>
                    </e-columns>
                </ejs-grid>
            </div>
















        </div>
    </div>
</div>