<p-toast position="top-right"></p-toast>

<div class="container-fluid page">
    <h1>Calender</h1>
    <div class="card">
        <div class="card-body">

            <div class="row widgets">



                <div class="col-lg-5 control-section" style="margin-bottom: 25px; width: 500px;">
                    <div class="content-wrapper" style="margin-bottom: 25px;">
                        <div class="formtitle">
                            <span>Add Customer Details</span>
                        </div>
    
                        <form id="formId" [formGroup]="reactForm" #formDir="ngForm" class="form-horizontal" novalidate="">
    
                            <div class="form-group">
                                <div class="e-float-input">
                                    <input id="check" type="text" formControlName="check">
                                    <span class="e-float-line"></span>
                                    <label for="check" class="e-float-text">User Name</label>
                                </div>
                                <div *ngIf="check.errors">
                                    <div *ngIf="check.errors.required && check.touched" class="e-error">
                                        This field is required.
                                    </div>
                                </div>
                            </div>
    
                            <div class="form-group">
                                <div class="e-float-input">
                                    <input id="email_check" type="text" formControlName="email_check">
                                    <span class="e-float-line"></span>
                                    <label for="email_check" class="e-float-text">Email</label>
                                </div>
                                <div *ngIf="email_check.errors ">
                                    <div *ngIf="email_check.errors.email && email_check.touched" class="e-error">
                                        Please enter a valid email address.
                                    </div>
                                </div>
                            </div>
    
                            <div class="form-group">
                                <div class="e-float-input">
                                    <input id="date_check" type="text" formControlName="date_check">
                                    <span class="e-float-line"></span>
                                    <label for="date_check" class="e-float-text">DOB</label>
                                    <div *ngIf="date_check.errors ">
                                        <div *ngIf="date_check.errors.date && date_check.touched" class="e-error">
                                            Please enter a valid date.
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="form-group">
                                <div class="e-float-input">
                                    <textarea rows="4" id="Address" name="Address" formControlName="Address"></textarea>
                                    <span class="e-float-line"></span>
                                    <label class="e-float-text" for="address">Address</label>
                                </div>
                            </div>
    
                            <div class="form-group">
                                <div class="e-float-input">
                                    <input id="city" formControlName="city">
                                    <span class="e-float-line"></span>
                                    <label for="city" class="e-float-text">City</label>
                                    <div *ngIf="city.errors ">
                                        <div *ngIf="city.errors.required && city.touched" class="e-error">
                                            This field is required.
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="form-group">
                                <div class="e-float-input">
                                    <input id="state" formControlName="state">
                                    <span class="e-float-line"></span>
                                    <label for="state" class="e-float-text">State</label>
                                    <div *ngIf="state.errors ">
                                        <div *ngIf="state.errors.required && state.touched" class="e-error">
                                            This field is required.
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="row justify-content-md-center">
                                <button id="validateSubmit" class="samplebtn e-control e-btn " type="submit"
                                    style="height:40px;width: 150px; color: #4a9ad7;border: #868789;"
                                    (click)="addSingle()"
                                    >Add Project</button>
                            </div>
                        </form>
                    </div>
                </div>





                <div class="col-lg-5 control-section" style="width: 500px;">
                    <div class="content-wrapper" style=" width: 500px;">
                        <div class="formtitle">
                            <span>Add Role</span>
                        </div>
                        <form id="formId" class="form-horizontal">

                            <div class="form-group">
                                <div class="e-float-input">
                                    <input type="text" name="username" class="form-control">
                                    <label for="check" class="e-float-text">User Name</label>
                                </div>
                                <div>
                                    <div class="e-error">
                                        This field is required.
                                    </div>
                                </div>
                            </div>

                            <div class="row justify-content-md-center">
                                <button id="validateSubmit" class="samplebtn e-control e-btn " type="submit"
                                    style="height:40px;width: 150px; color: #4a9ad7;border: #868789;"
                                    (click)="addSingle()">Connexion</button>

                            </div>

                        </form>
                    </div>

                    <div class="content-wrapper" style="margin-bottom: 10px; width: 500px;">
                        <div class="formtitle">
                            <span>Affect Role to User</span>
                        </div>
                        <form id="formId" class="form-horizontal">

                            <div class="form-group">
                                <div class="e-float-input">
                                    <input type="text" name="username" class="form-control">
                                    <label for="check" class="e-float-text">User Name</label>
                                </div>
                                <div>
                                    <div class="e-error">
                                        This field is required.
                                    </div>
                                </div>
                            </div>

                            <div class="row justify-content-md-center">
                                <button id="validateSubmit" class="samplebtn e-control e-btn " type="submit"
                                    style="height:40px;width: 150px; color: #4a9ad7;border: #868789;"
                                    (click)="addSingle()">Connexion</button>

                            </div>

                        </form>
                    </div>
                </div>


            </div>






        </div>
    </div>
</div>