<div class="container-fluid page">
    <p-toolbar>
        <ng-template pTemplate="left">
            <h4>Task Lists</h4>
        </ng-template>

        <ng-template pTemplate="right">

        </ng-template>
    </p-toolbar>

    <div class="card" style="margin-top: 10px;">
        <div class="card-body">

            <div class="control-section">
                <div class="content-wrapper">
                    <ejs-kanban #kanbanObj keyField='status' [dataSource]='taskList' [cardSettings]='cardSettings'>
                        <e-columns>
                            <e-column headerText='To Do' keyField='Open' footerCssField='e-bug' grabberField='#E64A19'></e-column>
                            <e-column headerText='In Progress' keyField='InProgress'></e-column>
                            <e-column headerText='Done' keyField='Close'></e-column>
                        </e-columns>
                    </ejs-kanban>
                </div>
            </div>
        </div>
    </div>
</div>