<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>
<p-toast position="top-right"></p-toast>
<div class="container-fluid page">

    <p-toolbar>
        <ng-template pTemplate="left">
            <h3>Project lists</h3>
        </ng-template>

        <ng-template pTemplate="right">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
                (click)="openNew()"></button>
        </ng-template>
    </p-toolbar>

    <div class="card">
        <div class="card-body">
            <div class="row">

                <div class="col-md-6 col-xl-3" *ngFor="let project of projectList ">
                    <div class="card m-b-30">
                        <p-card [header]="project.name" [subheader]="project.administrateur" styleClass="p-card-shadow">
                            <div style="margin-top: 4px;"><span [class]="'projet-badge projet-todo'">To Do</span> 22
                            </div>
                            <div style="margin-top: 4px;"><span [class]="'projet-badge projet-inprogress '">In
                                    Progress</span> 10</div>
                            <div style="margin-top: 4px;"><span [class]="'projet-badge projet-done'">Done</span> 5
                            </div>
                            <div style="margin-top: 4px;"><span [class]="'projet-badge projet-verify'">Verify</span>
                                12</div>
                            <div style="margin-top: 10px;">

                                <p-button label="View" icon="pi pi-arrow-circle-right"
                                    routerLinkActive="list-item-active"
                                    [routerLink]="['/projet-tache',project.id_Project]"></p-button>

                                <button pButton pRipple type="button" icon="pi pi-trash"
                                    class="p-button-rounded p-button-danger"
                                    (click)="confirm(project.id_Project)" style="margin-left: 10px;"></button>
                            </div>

                        </p-card>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<p-dialog [(visible)]="projecttDialog" [style]="{width: '450px'}" header="Project Details" [modal]="true"
    styleClass="p-fluid">
    <div class="content-wrapper" style="margin-bottom: 25px;">
        <form id="formId" [formGroup]="reactForm" #formDir="ngForm" class="form-horizontal" novalidate="">

            <div class="form-group">
                <div class="e-float-input">
                    <input id="check" type="text" formControlName="check" [(ngModel)]="projectDTO.name">
                    <span class="e-float-line"></span>
                    <label for="check" class="e-float-text">Name</label>
                </div>
                <div *ngIf="check.errors">
                    <div *ngIf="check.errors.required && check.touched" class="e-error">
                        This field is required.
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="e-float-input">
                    <input id="check" type="text" formControlName="check" [(ngModel)]="projectDTO.client">
                    <span class="e-float-line"></span>
                    <label for="check" class="e-float-text">Client</label>
                </div>
                <div *ngIf="check.errors">
                    <div *ngIf="check.errors.required && check.touched" class="e-error">
                        This field is required.
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="e-float-input">
                    <input id="check" type="text" formControlName="check" [(ngModel)]="projectDTO.description">
                    <span class="e-float-line"></span>
                    <label for="check" class="e-float-text">Description</label>
                </div>
                <div *ngIf="check.errors">
                    <div *ngIf="check.errors.required && check.touched" class="e-error">
                        This field is required.
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="e-float-input">
                    <input id="check" type="number" formControlName="check" [(ngModel)]="projectDTO.duration">
                    <span class="e-float-line"></span>
                    <label for="check" class="e-float-text">Duration</label>
                </div>
                <div *ngIf="check.errors">
                    <div *ngIf="check.errors.required && check.touched" class="e-error">
                        This field is required.
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="e-float-input">
                    <input id="check" type="text" formControlName="check" [(ngModel)]="projectDTO.administrateur">
                    <span class="e-float-line"></span>
                    <label for="check" class="e-float-text">Administrateur</label>
                </div>
                <div *ngIf="check.errors">
                    <div *ngIf="check.errors.required && check.touched" class="e-error">
                        This field is required.
                    </div>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <button id="validateSubmit" class="samplebtn e-control e-btn " type="submit"
                    style="height:40px;width: 150px; color: #4a9ad7;border: #868789;" (click)="addProject()">Add
                    Project</button>
            </div>
        </form>
    </div>

</p-dialog>