
@import "/src/app/style/base/base.scss";
@import "/src/app/style/inputs/slider.scss";
@import "/src/app/style/inputs/color-picker.scss";
@import "/src/app/style/inputs/input.scss";
@import "/src/app/style/inputs/textbox.scss";
@import "/src/app/style/inputs/uploader.scss";

* {
    font-family: "Montserrat", sans-serif;

}

html,
body {
    height: 100%;
}

body {
    padding: 2em;
    font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif, “Apple Color Emoji”, “Segoe UI Emoji”, “Segoe UI Symbol”;
  }

  div{
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    

  }




  



