
<div class="container-fluid page">


    <p-toolbar>
        <ng-template pTemplate="left">
            <h4>Calender</h4>
        </ng-template>

        <ng-template pTemplate="right">

        </ng-template>
    </p-toolbar>

    <div class="card" style="margin-top: 10px;">
        <div class="card-body">
            <ejs-schedule  #scheduleObj 
            [eventSettings]="eventData" 
            currentView="Month" readonly="true"
            >
        </ejs-schedule>
        </div>
        
    </div>
    </div>